/* Alapstílusok */
body {
    margin: 0;
    font-family: "Beaufort for LOL Bold";
    background: linear-gradient(280deg, #2a536a, #80a9b8);
}

/* Navigációs sáv */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A2F36 ; /* Sötétkék szín */
    color: #dadada; /* Arany szöveg */
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
}

/* Navigációs linkek */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff; 
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #D47559; 
}

/* Hamburger menü */
.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: #dddddd;
    cursor: pointer;
}

/* Reszponzív stílusok */
@media (max-width: 750px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #1A2F36 ;
        box-shadow: 0 4px 8px 0 #1A2F36;
        position: absolute;
        top: 60px;
        right: 20px;
        padding: 10px;
        border-radius: 5px;
        width: 200px;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}

.container {
    max-width: 1200px; /* Maximális szélesség */
    margin: 0 auto; /* Középre igazítás */
    padding: 20px; /* Belül margó */
    background: linear-gradient(60deg, #2a536a, #80a9b8);
    border-radius: 10px; /* Lekerekített sarkok */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Árnyék */
    font-size: larger;
}



/*table beállítások*/
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #264e5b;
    border-radius: 8px;
    overflow: hidden;
}
th, td {
    padding: 15px;
    text-align: left;
}
th {
    background-color: #264e5b;
    color: #000000;
    font-size: 18px;
}
tr:nth-child(even) {
    background-color: #1A2F36;
    color: rgb(255, 248, 248);
}
img {
    width: 50px;
    height: 50px;
}
.table-container {
    display: none; /* Alapból rejtett */
}
.table-container.active {
    display: block; /* Csak az aktív táblázat látszik */
}
.buttons {
    margin-bottom: 10px;
}
.buttons button {
    margin-right: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}
.card {
    flex: 1 1 calc(33.333% - 20px); /* Három kártya egy sorban */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}
.card h5 {
    margin: 0 0 10px;
    color: #333;
    font-family: "Beaufort for LOL Bold";
}
.gold-badge {
    display: inline-block;
    padding: 5px 10px;
    background-color: gold;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    font-family: "Beaufort for LOL Bold";
}
h2,p{
    font-family: "Beaufort for LOL Bold";
}
/*Font*/
@import url(https://db.onlinewebfonts.com/c/12420e8c141ca7c3dff41de2d59df13e?family=Beaufort+for+LOL+Bold);