.search-container {
    margin-bottom: 20px;
  }
  
.search-input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #7D3C98;
    border-radius: 4px;
    background-color: #170245;
    color: #00AFFF;
  }

    
  .title {
    color: #00AFFF; 
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }