/* Alapbeállítások az egész oldalhoz */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #170245; /* Sötétkék2 */
    color: #00AFFF; /* Neon kék */
}

/* Container központosítás */
.homepage-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #0A001F; /* Sötétkék */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

/* Fő cím */
.homepage-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #00AFFF; /* Neon kék */
}

/* Bevezető szöveg */
.homepage-description {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 30px;
    padding: 10px 15px;
    border-left: 5px solid #7D3C98; /* Lila / Bíbor */
    background-color: #170245; /* Sötétkék2 */
    color: #00AFFF; /* Neon kék */
}

/* Aloldal-leírások */
.homepage-sections {
    margin-top: 20px;
    text-align: left;
}

/* Egyes szakaszok */
.homepage-section {
    margin-bottom: 15px;
    padding: 15px;
    background-color: #320047; /* Lila / Bíbor */
    border-radius: 8px;
    border-left: 5px solid #20E3B2; /* Türkiz */
}

.homepage-section-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #00AFFF; /* Neon kék */
}

.homepage-section-description {
    font-size: 1rem;
    line-height: 1.6;
    color: #00AFFF; /* Neon kék */
}

/* Footer */
.homepage-footer {
    margin-top: 40px;
    font-size: 0.9rem;
    color: #20E3B2; /* Türkiz */
    text-align: center;
}
